* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.global-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}


.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  height: 70px;
}

.main-logo {
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navbar-li {
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  list-style-type: none;
}

.home-body-container {
  margin-top: 50px;
  /* background-color: rgba(0, 255, 255, 0.1); */
  width: 80%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-bottom: 100px;
}


.contact-item {
  width: 300px;
  height: 180px;
  background-color: rgba(137, 43, 226, 0.116);
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.info-container {
  width: 220px;
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location-container {
  width: 80px;
  /* background-color: rgb(187, 187, 101); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

}

.map-icon {
  cursor: pointer;
  user-select: none;
  font-size: 50px;
}

.delete-icon {
  cursor: pointer;
  user-select: none;
  font-size: 22px;
  margin-right: 10px;
}

.contact-name {
  font-size: 22px;
}


.addcontact-body-container {
  margin-top: 50px;
  background-color: rgba(0, 255, 255, 0.1);
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-bottom: 100px;
}



.login-body-container {
  margin-top: 50px;
  background-color: rgba(0, 255, 255, 0.1);
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-bottom: 100px;
}


.viewmap-body-container {
  height: 90vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}


.location-show{
  width: 150px;
  pointer-events: none;
  cursor: default;
}


#map_container{
  display: none;
}









/* MEDIA QUERIES */

@media (max-width: 600px) {
  .navbar-menu {
    gap: 20px;
  }
}